@keyframes bagFly
  0%
    transform: translateY(-477px)
  5%
    transform: translateY(-477px)
  10%
    transform: translateY(0) rotateZ(0deg)
  100%
    transform: translateY(70px) rotateZ(-5deg)


@keyframes watchFly
  0%
    transform: translateY(-900px)
  8%
    transform: translateY(-900px)
  12%
    transform: translateY(-100px) rotateZ(0deg)
  100%
    transform: translateY(0px) rotateZ(5deg)


@keyframes shoeFly
  0%
    transform: translateY(-750px)
  100%
    transform: translateY(0px)


@keyframes phoneFly
  0%
    transform: translateY(-900px) rotateZ(0deg)
  12%
    transform: translateY(-900px) rotateZ(0deg)
  20%
    transform: translateY(-100px) rotateZ(720deg)
  100%
    transform: translateY(0px) rotateZ(730deg)
