.pay
  max-width: 842px
  @extend .center-block
  &Back
    &__header
      color: white
      background: #f00000
      font-size: 21px
      text-transform: uppercase
      padding: 13px 32px 9px 32px
      display: inline-block
      margin-bottom: 16px
      font:
        family: 'Roboto'
        weight: 900
    &__calculate
      border: 5px solid #355fc9
      padding-bottom: 52px
      &_header
        text-transform: uppercase
        color: #555555
        font-size: 16px
        top: -14px
        background: white
        position: relative
        display: inline-block
        padding: 0 48px
        margin-bottom: 20px
      &_form
        @extend .clearfix
        &_fieldset
          +make-col(26px)
          +make-col-span(12)
          +media-breakpoint-up(lg)
            &--1
              +make-col-span(3)
              +make-col-offset(1)
            &--2
              +make-col-span(3)
            &--3
              +make-col-span(4)
        &_label
          display: block
          font-size: 12px
          text:
            transform: uppercase
            align: left
          color: #555555
          +media-breakpoint-down(md)
            margin-bottom: 4px
        &_input
          @extend .form-control
          border: 5px solid #04da37
          color: #04da37
          background: #d5edd0
          font-size: 36px
          height: 60px
          +media-breakpoint-down(md)
            margin-bottom: 16px
          &_time
            color: #355fc9
            background: #e4f3e0
            border: transparent
            text-align: center
