.order
  border: 5px solid $brand-yellow
  padding: 22px 20px 52px 28px
  +media-breakpoint-down(xs)
    padding-bottom: 16px
  @media (max-width: 350px)
    border-left: 0
    border-right: 0
    padding-left: 0
    padding-right: 0

  &__stars
    +size(146px, 25px)
    background: url("star.png") left top repeat-x
    margin-bottom: 8px

  &__price
    background: $brand-yellow
    +size(100%, 105px)
    margin-bottom: 13px
    padding: 15px 0 0 20px

    &Label
      float: left
      font-size: 14px
      text-transform: uppercase
      color: $gray
      line-height: 24px

    &Old
      float: left
      margin-left: 55px
      font:
        size: 24px
        family: 'Roboto'
        weight: 100
      color: $gray
      line-height: 24px

    &New
      clear: both
      font:
        family: 'Roboto'
        weight: bold
        size: 52px
      line-height: 58px

  &__button
    @extend %colored-button
    @extend %blink-button
    float: right

  &__notes
    padding-top: 33px

    &Title
      color: $brand-blue
      font-size: 22px

    &List
      @extend .list-unstyled
      &Item
        color: #140808
        font-size: 17px
        white-space: nowrap


  &__priceOld
    opacity: 0
    transform: scale(.95)
    transition: all 1s ease 3s
    position: relative
    &:after
      content: ''
      background: #f14f21
      position: absolute
      bottom: 2px
      left: -2px
      +size(0, 2px)
      transform: rotateZ(-15deg)
      transform-origin: left bottom
      transition: all .15s ease 4s

  &.active &__priceOld
    opacity: 1
    transform: scale(1)
    &:after
      width: 86%
