.win
  max-width: 800px
  @extend .center-block
  &List
    @extend .list-unstyled
    +make-row()
    margin-bottom: 69px
    &__item
      padding-bottom: 5px
      +media-breakpoint-down(sm)
        padding: 16px 0
      & + &
        +media-breakpoint-up(md)
          border-left: 1px solid #bfbfbf
        +media-breakpoint-down(sm)
          border-top: 1px solid #bfbfbf
      +make-col()
      +make-col-span(4)
      +media-breakpoint-down(sm)
        +make-col-span(12)
      &Number
        font-size: 36px
        line-height: 1
        color: #355fc9
        display: inline-block
        margin-bottom: 20px
      &Description
        color: #000000
        font:
          family: 'Roboto'
          weight: 300
        line-height: 20px
