.footer
  position: relative
  padding-bottom: 68px
  padding-top: 68px
  +media-breakpoint-down(sm)
    padding-top: 32px
    padding-bottom: 90px

  &__copyright
    text-align: center

  &__owners
    &_logo
      position: absolute
      right: 0
      bottom: 30px
