@import "../animations/section4"


.section4
  text-align: center
  padding-top: 93px
  padding-bottom: 132px
  +media-breakpoint-down(sm)
    padding-bottom: 16px

  &__header
    color: #140808
    margin-bottom: 14px

  &__subHeader
    color: #355fc9
    margin-bottom: 60px

  &__goods
    @extend %full-size
    z-index: 1
    height: 110%
    overflow: hidden
    &Base
      @extend .container
      position: relative

    &Item
      display: block
      position: absolute

      &--bag
        z-index: 1
        top: 70px
        right: -333px
        transform: translateY(-477px)

      &--watch
        z-index: 2
        top: 370px
        right: -285px
        transform: translateY(-900px)

      &--shoe
        z-index: 3
        top: 343px
        left: -385px
        transform: translateY(-750px)

      &--phone
        z-index: 4
        top: -160px
        left: -325px
        transform: translateY(-460px)


    &.active &Item--bag
      animation: bagFly 10s ease-out 1
      transform: translateY(70px) rotateZ(-5deg)

    &.active &Item--watch
      animation: watchFly 10s ease-out 1
      transform: translateY(0px) rotateZ(5deg)

    &.active &Item--shoe
      animation: shoeFly .4s cubic-bezier(.5, 0, .8, 1.2) 1
      transform: translateY(0px)

    &.active &Item--phone
      animation: phoneFly 10s ease-out 1
      transform: translateY(0px) rotateZ(730deg)
