.section6
  padding-top: 70px

  &__header
    text-align: center

  &__subHeader
    text-align: center
    color: #355fc9
    margin-bottom: 60px

  &__about
    +make-row($large-grid-gutter-width)

  &__screenshot
    +make-col($large-grid-gutter-width)
    +make-col-span(12)
    +media-breakpoint-up(lg)
      +make-col-span(63, 100)
    margin-bottom: 70px

    &Image
      @extend .img-fluid

  &__description
    +make-col($large-grid-gutter-width)
    +make-col-span(12)
    +media-breakpoint-up(lg)
      +make-col-span(37, 100)
    +media-breakpoint-down(xs)
      padding-top: 0
    padding-top: 77px
    margin-bottom: 70px
    color: $gray
    &Text
      margin-bottom: 24px

  &__soBad
    min-height: 56px
    background: url("ms-logo.png") left top no-repeat
    padding-left: 76px
    padding-top: 4px
    font:
      size: 22px
      weight: 100
      family: 'Roboto'
    color: $gray
    line-height: 27px
