.section7
  padding-top: 70px
  padding-bottom: 40px
  +media-breakpoint-down(sm)
    padding-top: 0

  &__subHeader
    color: #355fc9
    line-height: 43px
    margin-bottom: 60px

  &__options
    +make-row($large-grid-gutter-width)

    &Order
      +make-col($large-grid-gutter-width)
      +make-col-span(11, 20)
      +media-breakpoint-down(md)
        +make-col-span(12)
        margin-bottom: 42px
    &List
      +make-col($large-grid-gutter-width)
      +make-col-span(9, 20)
      +media-breakpoint-down(md)
        +make-col-span(12)
      &Logo
        @extend .img-fluid
        margin-bottom: 35px
