.section5
  padding-top: 188px
  padding-bottom: 60px
  color: white
  +media-breakpoint-down(sm)
    padding-top: 32px
    padding-bottom: 0

  &__header
    font:
      size: 36px
      family: 'Roboto'
    line-height: 43px
    margin-bottom: 48px

  &__quote
    font:
      size: 36px
      family: 'Roboto'
      weight: 100
    line-height: 43px
    +media-breakpoint-down(sm)
      font-size: 7vw
      line-height: 8vw

  &__bg
    &Image
      background-image: url('../images/bg5.jpeg')
