@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.woff2') format('woff2'),
  url('../fonts/rouble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin rouble {
  font-family: 'als_rublregular', sans-serif;
}

.rouble {
  @include rouble();
}

